.Wrapper {
  margin-top: 50px;
  padding: 0 300px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}
.Image {
  max-width: 360px;
  border-radius: 18px;
  box-shadow: 0px 0px 30px #f39014;
}
.ErrorHeading {
  margin-top: 40px;
  text-align: center;
  color: #f39014;
  font-size: 35px;
}
.Heading {
  color: #f39014;
  font-size: 35px;
}
.Description {
  color: #f39014;
}
.Overview {
  text-align: justify;
  line-height: 1.4;
}
.GenresList {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 0;
  list-style-type: none;
}
.AdditionalInfo {
  margin-top: 45px;

  color: #f39014;
  text-align: center;
}
.List {
  list-style-type: none;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding: 0;
  margin-bottom: 45px;
  margin-top: 45px;
}
.Link {
  border: 2px solid #f39014;
  padding: 10px;
  background-color: rgba(243, 144, 20, 0.6);
  font-weight: 500;
  border-radius: 18px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
