.HomeHeading {
  max-width: 350px;
  margin: 33px auto;
  padding: 20px;
  text-align: center;
  color: wheat;
  font-size: 43px;
  animation: heartBeat 2.5s infinite;
  border: 2px solid #f39014;
  border-radius: 18px;
}
@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
.HomeList {
  margin-top: 25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
}
.HomeListItem {
  transition: transform 200ms ease-in-out;
  color: #f39014;
}
.HomeListItem:hover {
  transform: scale(1.2);
}
.HomeListLink {
  text-decoration: none;
}
