.HomeHeading {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: wheat;
  font-size: 43px;
  animation: heartBeat 2.5s infinite;
  border: 2px solid #f39014;
  border-radius: 18px;
}
@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
.HomeList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}
.HomeListItem {
  transition: transform 200ms ease-in-out;
  color: #f39014;
}

.HomeListItem:hover {
  transform: scale(1.05);
}

.HomeListLink {
  text-decoration: none;
}
.HomeListImage {
  max-width: 150px;
  border-radius: 18px;
  box-shadow: 0px 0px 30px #f39014;
}
